<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/dashboard" sec:authorize="hasAuthority('PRIV_VIEW_PRODUCT')">Dashboard</a></li>
                    <li><a href="/category/all" sec:authorize="hasAuthority('PRIV_VIEW_PRODUCT')">Categories</a></li>
                    <li><a href="/product/all" sec:authorize="hasAuthority('PRIV_VIEW_PRODUCT')">Products</a></li>
                    <li><a href="/order/history" sec:authorize="hasAuthority('PRIV_VIEW_PRODUCT')">Order History</a>
                    </li>
                    <li><a href="/order/history/group" sec:authorize="hasAuthority('PRIV_VIEW_PRODUCT')">Group Order
                        History</a></li>
                    <p sec:authorize="hasAuthority('PRIV_APPROVERS')">
                    <li><a href="/task/pending" sec:authorize="hasAuthority('PRIV_APPROVERS')">Approvals</a></li>
                    </p>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu_section" sec:authorize="hasAuthority('PRIV_ADMIN_CAP')">
        <h3>Live On</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-bug"></i> Admin Pages <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/group/add">Add Group</a></li>
                    <li><a href="/product/add">Add Product</a></li>
                    <li><a href="/category/add">Add Category</a></li>
                    <li><a href="/user/add">Add User</a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>