<!DOCTYPE html>
<html data-layout-decorate="~{fragments/layout}" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Order History </title>
</head>
<body>
<!-- page content -->
<div class="right_col" data-layout-fragment="content" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>ORDER HISTORY</h3>
            </div>

            <div class="title_right">

            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Order History <small>25 Recent Orders</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="alert alert-success" th:if="${message}" th:text="${message}"></div>

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Order Date</th>
                                <th>Order Status</th>
                                <th>Sub Total</th>
                                <th>GST</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class='clickable-row' th:each="order , itemStat: ${orders}">
                                <td><a th:href="@{${'/order/details/' + order.id }}">
                                    <u>
                                        <div th:text="${order.id}"></div>
                                    </u>
                                </a></td>
                                <td class="a-center" th:text="${order.orderDate}"></td>
                                <td class="a-center" th:text="${order.orderStatus}"></td>
                                <td class="a-center" th:text="${order.subTotal}"></td>
                                <td class="a-center" th:text="${order.gst}"></td>
                                <td class="a-center" th:text="${order.orderTotal}"></td>
                                <td><a th:href="@{${'/order/edit/' + order.id}}">Edit</a></td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>