<!DOCTYPE html>
<html data-layout-decorate="~{fragments/layout}" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Order Page </title>
</head>
<body>
<!-- page content -->
<div class="right_col" data-layout-fragment="content" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>ORDER PAGE</h3>
            </div>

            <div class="title_right">

            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Order Details</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link "><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <section class="shopping-cart dark">
                            <div class="container">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-4 order-md-2 mb-4">
                                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                                <span class="text-muted">Your cart</span>
                                                <span class="badge badge-secondary badge-pill"
                                                      th:text="${cart.totalItems}"></span>
                                            </h4>
                                            <ul class="list-group mb-3">

                                                <li class="list-group-item d-flex justify-content-between lh-condensed"
                                                    th:each="cartItem : ${cart.cartItemList}">
                                                    <div>
                                                        <h6 class="my-0" th:text="${cartItem.product.name}">Product
                                                            name</h6>
                                                    </div>
                                                    <span class="text-muted">&#x20b9;</span>
                                                    <span class="text-muted" th:text="${cartItem.subTotal}"></span>
                                                    <span class="text-muted pull-right"
                                                          th:text="${cartItem.qty}"></span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between">
                                                    <span>GST &#x20b9;</span>
                                                    <strong th:text="${cart.gst}">$20</strong>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between">
                                                    <span>Total &#x20b9;</span>
                                                    <strong th:text="${cart.grandTotal}">$20</strong>
                                                </li>
                                            </ul>

                                        </div>
                                        <div class="col-md-8 order-md-1">
                                            <h4 class="mb-3">Billing address</h4>
                                            <div class="col-md-12 " style="border: 1px solid #ccc; padding: 0 0 5px;">
                                                <span>  </span><h5 th:text="${billingAddress.name}"></h5>
                                                <div class="col-md-12 foundation_sm">
                                                    <p><span th:text="${billingAddress.addressline1}"/>
                                                        <br>
                                                        <span th:text="${billingAddress.addressline2}"/></p>
                                                    <p><span th:text="${billingAddress.city}"/><span>, </span><span
                                                            th:text="${billingAddress.state}"/>
                                                        <span>-</span><span th:text="${billingAddress.zipcode}"/>
                                                    </p>

                                                </div>
                                            </div>

                                            <form class="form-horizontal form-label-left" th:action="@{/order/save}" method="post" th:object="${shippingAddress}">
                                                <br><br><br>
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" id="same-address"
                                                           type="checkbox">
                                                    <label class="custom-control-label" for="same-address">Shipping
                                                        address is the same as my billing address</label>
                                                </div>
                                                <hr class="mb-4">
                                                <div id="shippingAddress">
                                                    <h4 class="mb-3">Shipping address</h4>
                                                    <div class="mb-3">
                                                        <label for="address">Address</label>
                                                        <input class="form-control" id="address" maxlength="200"
                                                               placeholder="1234 Main St"
                                                               type="text" th:field="*{addressline1}">
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="address2">Address 2 <span
                                                                class="text-muted">(Optional)</span></label>
                                                        <input class="form-control" id="address2" maxlength="200"
                                                               placeholder="Apartment or suite" type="text" th:field="*{addressline2}">
                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-4 mb-3">
                                                            <label for="city">City</label>
                                                            <input class="form-control" id="city" maxlength="200"
                                                                   placeholder="City" type="text" th:field="*{city}">
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <label for="state">State</label>
                                                            <input class="form-control" id="state" maxlength="200"
                                                                   placeholder="State" type="text" th:field="*{state}">
                                                        </div>
                                                        <div class="col-md-3 mb-3">
                                                            <label for="zip">Zip</label>
                                                            <input class="form-control" id="zip" placeholder="zipcode"
                                                                   type="number" th:field="*{zipcode}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="mb-4">

                                                <h4 class="mb-3">Payment Terms and Conditions</h4>

                                                <div class="d-block my-3">
                                                    <p><span>Payment is due within 10 Days from Invoice Date</span>
                                                        <br><span>Make Payment to IndusInd Bank </span>
                                                        <br><span>Make Payment to IndusInd Bank </span></p>
                                                </div>

                                                <hr class="mb-4">
                                                <button class="btn btn-primary btn-lg btn-block" type="submit">Generate
                                                    Purchase Order

                                                </button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>